body {
  color: #272343;
}
.full-container {
  border-radius: 20px;
  padding: 20px;
  margin: 0 auto;
  width: 800px;
  display: block;
}
.unitsBtn{
  margin-right: 100px;
  margin-left: 500px;
}
.btn {
color: #272343;
text-align: center;
}
.btn:hover {
  background-color: #272343;
  color: #ffffff;
}
.search-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  position: relative;
  width: 540px;
  padding-top: 20px;
}
h1 {
  font-size: 40pt;
  margin-top: 30px;
  margin-bottom: 0;
  text-transform: capitalize;
  text-align: center;
}
.current-weather {
  position: relative;
  justify-content: center;
  background-color: #ffffff;
  margin-top: 30px;
}
.current-date{
  text-align: right;
}
.icon {
  width: 160px;
}
.temperature {
  font-size: 50pt;
  line-height: 60px;
}
.weather-details{
  margin-left: 30px;
  text-align: left;
}
.description{
  font-style: italic;
}
.next-days{
  justify-content: center;
}
.forecast-col{
text-align: center;
position: relative;
margin-left: 0px;
padding: 0px;
width: 100px;
}
.forecast-date{
  font-weight: bolder;
}
.gitHubLink {
  text-align: center;
  font-size: 10pt;
  margin-top: 20px;
}
a{
  text-decoration: none;
  color: #272343;
}
a:hover{
  text-decoration: underline;
  color: #EC6E4C;
}










